
.txtfiled,
select{
	width:45%;
	padding:3px 5px;
	margin:0;
	border: solid 1px #BCEF82;
	border-radius:6px;
}

.qty{
  width: 30px;
}

.rowname{
	width: 5em;
	margin: 0 .5em 0 0;
	display:inline-block;
	vertical-align: top;
}
condition{
  font-size: 13px;
}
output{
  border-top: 2px solid #BCEF82;
  display: block;
  margin: 0;
  padding: .5em;
  font-size: 24px;
  background: #FEF37F;
}

.rarity-button{
  border: none;
  border-bottom: solid 2px #BCEF82;
}
.rarity-button:active{
  transform: translateY(1px);
  border-bottom: none;
}
.black,.rare7{
  color: #6a5511;
  text-shadow: -1px -1px #b1a56e, 1px 1px #000000;
  background: linear-gradient(135deg, #000000,#6a5511,#b1a56e);
}
.black,.rare6{
  color: #629cf4;
  text-shadow: -1px -1px #ddf5ff, 1px 1px #4701f4;
  background: linear-gradient(135deg, #4701f4,#629cf4,#ddf5ff);
}
.platina,.rare5{
  color: #7b7ab4;
  text-shadow: -1px -1px #b7bed1, 1px 1px #040041;
  background: linear-gradient(135deg, #040041,#7b7ab4,#b7bed1);
}
.gold,.rare4{
  color: #e5831c;
  text-shadow: -1px -1px #f9e78b, 1px 1px #7b1b03;
  background: linear-gradient(135deg, #7b1b03,#e5831c,#f9e78b);
}
.silver,.rare3{
  color: #919191;
  text-shadow: -1px -1px #bfbfbf, 1px 1px #646464;
  background: linear-gradient(135deg, #646464,#919191,#bfbfbf);
}
.bronze,.rare2{
  color: #e5600c;
  text-shadow: -1px -1px #f78310, 1px 1px #b70407;
  background: linear-gradient(135deg, #b70407,#e5600c,#f78310);
}
.iron,.rare1{
  color: #646464;
  text-shadow: -1px -1px #acacac, 1px 1px #323232;
  background: linear-gradient(135deg, #323232,#646464,#acacac);
}
